<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Editor</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.5.2/browser/pixi.min.js"></script>
</head>
<body>
    <div id="canvas-container"></div>
    <div id="toolbar">
        <button id="zoomIn" class="button">Zoom In</button>
        <button id="zoomOut" class="button">Zoom Out</button>
        <button id="panTool" class="button">Pan Tool</button>
        <button id="rectTool" class="button">Rectangle Tool</button>
        <button id="selectTool" class="button">Select Tool</button>
        <button id="deleteSelected" class="button">Delete Selected</button>
        <select id="categorySelector" class="button">
            <option value="door">Door</option>
            <option value="double_door">Double Door</option>
        </select>
        <button id="exportSelected" class="button">Export Selected</button>
    </div>
    <script src="editFunctions.js"></script>
</body>
</html>